container_commands:
  01-copyJson:
    command: cp -f .ebextensions/cw-agent/config.json /opt/aws/amazon-cloudwatch-agent/bin
  02-copyJson:
    command: jq -s add /opt/aws/amazon-cloudwatch-agent/bin/config.json  /opt/aws/amazon-cloudwatch-agent/etc/beanstalk.json > /opt/aws/amazon-cloudwatch-agent/bin/upconfig.json
  03-runCloudWatch:
    command: sudo /opt/aws/amazon-cloudwatch-agent/bin/amazon-cloudwatch-agent-ctl -a fetch-config -m ec2 -c file:/opt/aws/amazon-cloudwatch-agent/bin/upconfig.json -s
  04-status:
    command: sudo /opt/aws/amazon-cloudwatch-agent/bin/amazon-cloudwatch-agent-ctl -m ec2 -a status
